.idea/
node_modules/

rn/node_modules/
rn/vendor/
rn/.bundle/
rn/ios/build/
rn/ios/Pods/
rn/android/build/
rn/android/.gradle/
rn/android/.kotlin/
rn/android/app/.cxx/
rn/android/app/build/


desktop/node_modules/
desktop/release/
desktop/.erb/
desktop/.github/
desktop/.vscode/
